<h1>Welcome to <%= @library.name %></h1>
<h2><strong>Library Floor Info</strong></h2>
<hr>
<p>This library has <%= @library.floor_count %> floors </p>
<p>This is the floor area: <%= @library.floor_area %> </p>
<hr>
<%= button_to "DELETE LIBRARY", @library, method: :delete %>
